#channel{padding:0;}

.channel__header{
	width:100%;padding-bottom:16.07%;background-color:var(--bk);background-position:50%;background-repeat:no-repeat;background-size:cover;
}
.channel__noheader{
	padding-top:30px;
}

.channel__info{
	position:relative;padding:24px 32px 24px 200px;
	.circle{
		overflow:hidden;width:160px;height:160px;border-radius:200px;position:absolute;left:20px;top:-20px;border:4px solid var(--bk);
	}
	.title{font-size:1.75rem}
	.desc{
		overflow:hidden;
		display:flex;
		height:22px;
		margin-top:4px;
		margin-bottom:12px;
		font-size:0.8125rem;
		white-space:pre-line;

		&.active{
			height:auto;
			.btn__more{transform:rotate(180deg)}
		}
		.txt{
			margin-top:4px;
		}
		.btn__wrap{
			flex:1;
			flex-shrink:0;
			.btn__more{
				width:28px;height:24px;
				background:transparent;
				color:#fff;
				cursor: pointer;
			}
		}
		
	}
	.info{
		font-size:0.8125rem;
		&>span{
			margin-right:24px;
			span{margin-right:8px;}
		}

	}
}

.channel__video{
	margin-top:32px;
	padding:0 32px 42px;
}