.header__logo{
    border-bottom:1px solid var(--bk100);

    a{
        display:flex;
        align-items:center;
        padding:10px;
        margin:10px;

        i{
            width:24px;height:39px;margin-right:10px;display:block;background-color:var(--pri);
        }
        span{
            font-size:20px;
            line-height:1;
            font-weight:900;
            text-transform:uppercase;
        }
    }
}

.header__menu{
    padding:10px 0;

    .menu{
        border-bottom:1px solid var(--bk100);

        li{
            margin-bottom:5px;

            a{
                font-size:1rem;display:block;padding:0.9rem 2rem 0.9rem 3.124rem;margin:0 0.625rem;border-radius:40px;position:relative;line-height:1;color:var(--wt100);
                
                svg{width:1.25rem;height:1.25rem;position:absolute;left:1.25rem;top:0.75rem;}
                &:hover{background-color:var(--bk100);color:var(--wt)}
            }
            &.active a{background-color:var(--bk100);color:var(--wt)}
        }
    }

    .keyword{
        padding:1.25rem;

        li{
            display:inline-block;

            a{
                display:inline-block;padding:5px 15px;border:1px solid var(--bk500);font-size:0.8rem;border-radius:40px;margin:3px 1px;transition:all 0.3s;

                &:hover{background-color:var(--bk100);color:var(--wt)}
            }

            &.active a{background-color:var(--bk100);color:var(--wt)}
        }
    }
}

.header__sns{
    position:fixed;bottom:0;left:0;right:0;width:260px;text-align:center;padding:15px 0 10px;background-color:var(--bk);border-right:1px solid var(--bk500);

    li{
        display:inline-block;

        a{display:inline-block;padding:5px 7px;}
    }
}
