.header__logo{
	display:flex;align-items:center;height:80px;padding:10px;border-bottom:1px solid var(--bk100);

	button{
		display:inline-flex;align-items:center;justify-content:center;width:32px;height:32px;margin-right:10px;background:transparent;cursor:pointer;
		svg{font-size:26px;color:var(--wt);}
	}
	a{
		font-size:18px;
		line-height:1;
		font-weight:900;
		text-transform:uppercase;
	}
}

.header__menu{
	padding:10px 0;

	.menu{
		border-bottom:1px solid var(--bk100);

		li{
				margin-bottom:5px;

			a{
				font-size:1rem;display:block;padding:0.9rem 2rem 0.9rem 3.124rem;margin:0 0.625rem;border-radius:40px;position:relative;line-height:1;color:var(--wt100);
				
				svg{width:1.25rem;height:1.25rem;position:absolute;left:1.25rem;top:0.75rem;}
				&:hover{background-color:var(--bk100);color:var(--wt)}
			}
			&.active a{background-color:var(--bk100);color:var(--wt)}
		}
	}

	.keyword{
		padding:1.25rem;

		li{
			display:inline-block;

			a{
				display:inline-block;padding:5px 15px;border:1px solid var(--bk500);font-size:0.8rem;border-radius:40px;margin:3px 1px;transition:all 0.3s;

				&:hover{background-color:var(--bk100);color:var(--wt)}
			}

			&.active a{background-color:var(--bk100);color:var(--wt)}
		}
	}
}

.header__sns{
	position:fixed;bottom:0;left:0;right:0;width:260px;text-align:center;padding:15px 0 10px;background-color:var(--bk);border-right:1px solid var(--bk500);

	li{
		display:inline-block;

		a{display:inline-block;padding:5px 7px;}
	}
}

@media(max-width:840px){
	.header__logo{height:72px;}
	.header__sns{position:static;}
}

