#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    border-right:1px solid var(--bk500);
}
#main {
		min-width:360px;
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
}
#footer {
    text-align: center;
    background-color: var(--bk);
    border-top:1px solid var(--bk500);
    padding:20px;
    margin-left:260px;
    width:calc(100% - 260px);
    color:var(--bk500);
    font-size:0.8em;
} 

@media(max-width:840px){
  #header{
    left:-260px;transition:left 0.3s;padding-top:82px;background-color:var(--bk);
    .header__logo{position:fixed;left:0;top:0;}
		&.active{
			left:0;
			.header__logo{
				border-bottom:0;
			}
		}
  }
  #main{
		padding-top:72px;
    padding-left:0;
  }
  #footer{
    width:100%;margin-left:0;
  }
}