.search__inner{
  position:relative;width:100%;height:80px;padding:17px 40px;border-bottom:1px solid var(--bk100);

  label{
		width:24px;height:24px;position:absolute;right:54px;top:28px;background-size:cover;
		
		svg{width:24px;height:24px;}
	}
  input{background-color:var(--bk500);border:1px solid var(--bk100);width:100%;padding:14px 45px 14px 14px;border-radius:40px;font-size:16px;color:var(--wt)}
}
@media (max-width:840px){
  .search__inner{
    position:fixed;top:0;left:0;width:100%;background-color:#000000c3;height:72px;padding:12px 20px 12px 172px;z-index:10;
		label{right:36px;top:24px;}
  }
}