section{

	.swiper-button-prev.swiper-button-disabled,
	.swiper-button-next.swiper-button-disabled {
		opacity: 0;
	}

	.swiper-button-next,
	.swiper-button-prev{
		width:44px;height:44px;border-radius:44px;background-color: #00000069;
	}

	.swiper-button-next:after, 
	.swiper-button-prev:after {
		color: #fff;
		font-size: 22px;
	}
	.swiper-button-next {
		right: -22px;
	}
	.swiper-button-prev {
		left: -22px;	
	}

	.swiper-pagination-bullet {
		background-color: #fff;
	}
}
