.videos{
  display:grid;
  grid-template-columns:repeat(4, 24%);
  justify-content:space-between;
  gap:20px;

  @media(max-width:1400px){
    grid-template-columns:repeat(3, 32%);
    gap:15px;
  }
  @media(max-width:900px){
    grid-template-columns:repeat(2, 49%);
    gap:6px;
  }

  @media(max-width:600px){
    grid-template-columns:repeat(1, 100%);
    gap:10px;
  }
}

.videos__slider{
	position:relative;
  .vedeo__thumb{aspect-ratio:16/9;background-color:var(--bk500)}
}