.videos{
  display:grid;
  grid-template-columns:repeat(4, 24%);
  justify-content:space-between;
  gap:20px;

  @media(max-width:1400px){
    grid-template-columns:repeat(3, 32%);
    gap:15px;
  }
  @media(max-width:900px){
    grid-template-columns:repeat(2, 49%);
    gap:6px;
  }

  @media(max-width:600px){
    grid-template-columns:repeat(1, 100%);
    gap:10px;
  }
}

.videos__slider{
	position:relative;
  .vedeo__thumb{aspect-ratio:16/9;background-color:var(--bk500)}
}

#searchPage .videos__item{
	.title{font-size:0.875rem;margin-top:0.875rem;@include line-two}
  .author{font-size:0.75rem;margin-top:4px;font-weight:900;text-decoration:underline;text-underline-position:under;text-transform:uppercase;}
}

.video__more{
	button{
		width:100%;border:0;margin:24px 0;padding:12px 0;background-color:var(--bk100);border-radius:40px;font-size:0.825rem;color:var(--wt);transition:all 0.3s;cursor:pointer;
	}
}