body{
    background-color:var(--bk);
    color:var(--wt);
}
section{
  padding:18px 32px;

  h2{font-size:1rem;margin-bottom:1rem;}
}

.play__icon{
	overflow:hidden;position:relative;display:block;width:100%;border-radius:8px;transition:0.3s;cursor:pointer;background-color:var(--bk500);
	&:hover{border-radius:0;}
	&:hover img{transform:scale(1.05)}
	// &::before{content:'';width:100%;height:100%;background:var(--bkAlpha200);position:absolute;left:0;top:0;transition:0.3s;}
	// &:hover::before{background-color:var(--bkAlpha)}
}

// 섹션 로딩 소스
.play__icon img{
	opacity:0;
	transition:0.5s;
}
.video__more{
	display:none;
}
.isLoaded {
	.play__icon img{
		opacity:1;
		transition:0.5s;
	}
	.video__more{
		display:block;
	}
}
