@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-Bold.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-ExtraBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-Black.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-Black.woff") format("woff");
    font-display: swap;
}
