:root{
    --mainfont-nanum:"nanumSquareNeo";


    --bk:#18191a;
    --bk500:#333333;
    --bk100:#424242;

    --wt:#fff;
    --wt100:#c9c9c9;

    --rd:rgb(173, 29, 29);
    --pri:#00268f;

    --bkAlpha:#000000000;
    --bkAlpha200:#00000025;

    font-family:var(--mainfont-nanum);
    font-size:16px;
    line-height:1.4;
    font-weight:400;
    //Font opt
    font-synthesis:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media(max-width:800px){
        font-size:14px;
        line-height:1.4;
    }

}
