:root{
    --mainfont-nanum:"nanumSquareNeo";


    --bk:#000;
    --wt:#fff;

    font-family:var(--mainfont-nanum);
    font-size:16px;
    line-height:1.4;
    font-weight:400;
    //Font opt
    font-synthesis:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media(max-width:800px){
        font-size:14px;
        line-height:1.4;
    }

}